body {
background-color: #1d1e22;
color: #fff;
font-family: 'Courier New', Courier, monospace;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
}
.hidden {
opacity: 0;
}
.console-container {
font-family: 'Courier New', Courier, monospace;
font-size: 2em;
text-align: center;
height: 100px;
width: 100%;
display: block;
position: relative;
color: white;
margin: 20px auto;
}
.console-underscore {
display: inline-block;
position: relative;
top: -0.14em;
left: 10px;
}
.container {
width: 80%;
max-width: 800px;
margin: auto;
padding: 20px;
text-align: center;
}
.header-content {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.header-content .header-text {
margin-right: 20px;
}
.header-content img.header-img {
max-width: 100%;
width: 100%;
margin: 20px auto;
}
.header-text {
display: flex;
flex-direction: column;
justify-content: center;
}
.header-text h1 {
font-size: 36px;
margin: 0;
color: #fff;
}
header {
text-align: center;
padding: 20px 0;
}
h1,
h2,
h3 {
color: #0f0;
}
section {
margin: 20px 0;
}
.social-links {
display: flex;
justify-content: flex-start;
gap: 20px;
margin-left: 20px;
}
.animation-container {
display: flex;
justify-content: flex-end;
width: 100%;
margin-right: 20px;
}
.social-links {
display: flex;
justify-content: center;
gap: 20px;
margin-left: 20px;
}
.social-icon img {
width: 30px;
height: 30px;
transition: transform 0.3s, opacity 0.3s, border-radius 0.3s;
cursor: pointer;
}
.social-icon:hover img {
transform: scale(1.2);
opacity: 0.8;
border-radius: 50%;
}
.project {
background-color: #111;
padding: 10px;
margin: 10px 0;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
width: 100%;
max-width: 300px;
margin: 10px auto;
position: relative;
overflow: hidden;
transition: transform 0.3s, box-shadow 0.3s;
}
.project img {
width: 100%;
border-radius: 10px;
transition: transform 0.3s;
}
.project h3 {
margin: 10px 0;
font-size: 1.2em;
}
.project:hover {
transform: scale(1.05);
box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
}
.project:hover img {
transform: scale(1.1);
}
.project-links a {
color: #0f0;
text-decoration: none;
margin: 0 10px;
}
.project-links a:hover {
color: #fff;
}
.projects-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}
.skills {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 20px;
justify-items: center;
align-items: center;
}
@media (max-width: 1200px) {
.skills {
grid-template-columns: repeat(4, 1fr);
}
}
@media (max-width: 992px) {
.skills {
grid-template-columns: repeat(3, 1fr);
}
}
@media (max-width: 768px) {
.skills {
grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 576px) {
.skills {
grid-template-columns: repeat(2, 1fr);
}
}
.skill-box {
background-color: #222;
padding: 10px;
border: 1px solid #444;
border-radius: 10px;
width: 100px;
height: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: transform 0.3s, background-color 0.3s;
}
.skill-box img {
width: 50px;
height: 50px;
}
.skill-box:hover {
transform: scale(1.1);
background-color: #333;
}
.bulb-container {
width: 200px;
height: 350px;
position: absolute;
top: 0;
left: 70%;
transform: translateX(-50%);
display: flex;
flex-direction: column;
align-items: center;
z-index: 1;
transform-origin: top;
animation: swing 3s ease-in-out infinite;
}
.wire {
width: 4px;
height: 70px;
background: black;
position: relative;
z-index: 1;
}
.connector {
background: #292929;
width: 30px;
aspect-ratio: 4/5;
border-radius: 1px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
z-index: 2;
}
.grove {
background: #424242;
width: 34px;
height: 3px;
z-index: 3;
}
.bulb {
margin-top: -2px;
width: 92px;
aspect-ratio: 1;
border-radius: 50%;
background: #ffeb00;
border: 1px solid rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 150px 75px rgba(245, 223, 77, 1);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: -1px;
z-index: 1;
animation: flash 10s linear infinite;
}
.metal-wire {
position: relative;
border: 1px solid black;
width: 22px;
height: 11px;
border-radius: 50%;
z-index: 2;
}
.metal-wire:nth-child(1) {
top: -1px;
}
.metal-wire:nth-child(2) {
top: -7px;
}
.metal-wire:nth-child(3) {
top: -13px;
}
@keyframes swing {
0% {
transform: rotate(15deg);
}
50% {
transform: rotate(-15deg);
}
100% {
transform: rotate(15deg);
}
}
@keyframes flash {
0%,
100% {
background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 0px 0px transparent;
}
5%,
55%,
85% {
background: rgba(255, 235, 0, 1);
box-shadow: 0px 0px 75px 25px rgba(245, 223, 77, 0.8);
}
15%,
40%,
70% {
background: rgba(255, 235, 0, 0.8);
box-shadow: 0px 0px 100px 50px rgba(245, 223, 77, 0.6);
}
25% {
background: rgba(255, 235, 0, 1);
box-shadow: 0px 0px 150px 75px rgba(245, 223, 77, 1);
}
55.5%,
75.5% {
background: rgba(255, 235, 0, 0.5);
box-shadow: 0px 0px 50px 20px rgba(245, 223, 77, 0.5);
}
75% {
background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 0px 0px transparent;
}
}
#experience {
padding: 20px 0;
background-color: #1d1e22;
color: #fff;
text-align: center;
}
#experience h2 {
color: #0f0;
font-size: 36px;
margin-bottom: 20px;
}
.timeline {
position: relative;
margin: 20px 0;
}
.timeline::before {
content: '';
position: absolute;
width: 2px;
background-color: #ccc;
top: 0;
bottom: 0;
left: 50%;
margin-left: -1px;
}
.timeline-item {
display: flex;
justify-content: flex-start;
align-items: flex-start;
margin-bottom: 20px;
position: relative;
width: 50%;
left: 50%;
padding-left: 40px;
}
.timeline-item:nth-child(even) {
left: 0;
justify-content: flex-end;
padding-left: 0;
padding-right: 40px;
}
.timeline-item:nth-child(even) .timeline-content {
text-align: right;
}
.timeline-icon {
position: absolute;
top: 0;
left: -25px;
background-color: #fff;
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
z-index: 1;
}
.timeline-content {
background-color: #2c2f33;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
position: relative;
width: 100%;
}
.job-title {
font-size: 24px;
margin-bottom: 10px;
color: #fff;
}
.company-name {
font-size: 18px;
margin-bottom: 10px;
color: #ccc;
}
.job-duration {
font-size: 14px;
margin-bottom: 10px;
color: #888;
}
.timeline-content ul {
list-style-type: none;
padding: 0;
}
.timeline-content ul li {
margin-bottom: 10px;
color: #ddd;
}
.timeline-icon img {
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
}
@media (max-width: 992px) {
.header-content {
flex-direction: column;
align-items: center;
}
.header-content img.header-img {
max-width: 100px;
margin: 10px 0;
}
.bulb-container {
width: 150px;
height: 300px;
}
.header-text h1 {
font-size: 28px;
}
.skill-box {
    margin-top: 20px;
width: 90px;
height: 90px;
}
.skill-box img {
    margin-top: 20px;
width: 50px;
height: 50px;
}
.timeline-item {
width: 100%;
left: 0;
padding-left: 60px;
}
.timeline-item:nth-child(even) {
justify-content: flex-start;
padding-left: 60px;
padding-right: 0;
}
.timeline-item:nth-child(even) .timeline-content {
text-align: left;
}
}
@media (max-width: 576px) {
.header-content img.header-img {
max-width: 80px;
}
.bulb-container {
width: 100px;
height: 200px;
}
.header-text h1 {
font-size: 24px;
}
.skill-box {
width: 70px;
height: 70px;
}
.skill-box img {
width: 35px;
height: 35px;
}
.projects-grid {
flex-direction: column;
}
.timeline-item {
width: 100%;
left: 0;
padding-left: 20px;
}
.timeline-item:nth-child(even) {
justify-content: flex-start;
padding-left: 20px;
padding-right: 0;
}
.timeline-item:nth-child(even) .timeline-content {
text-align: left;
}
.timeline-icon {
width: 30px;
height: 30px;
left: -15px;
}
}
:root {
--space-color: #1d1e22;
--earth-water-color: #2276bc;
--earth-land-color: #65c547;
--earth-cloud-color: #FFF;
--earth-rotation: 20000ms;
--cloud-rotation: 30000ms;
--moon-color: #e6e8d2;
}
body {
background-color: var(--space-color);
background-image:
radial-gradient(#544ae4, rgba(36, 23, 240, .2) 2px, transparent 10px),
radial-gradient(#544ae4, rgba(36, 23, 240, .15) 1px, transparent 5px),
radial-gradient(#544ae4, rgba(36, 23, 240, .1) 2px, transparent 10px),
radial-gradient(rgba(36, 23, 240, .4), rgba(36, 23, 240, .1) 2px, transparent 5px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.canvas {
position: relative;
display: block;
margin: auto;
margin-top: 2%;
width: 600px;
height: 420px;
border-radius: 5px;
background: none;
}
/* Earth */
.earth {
position: absolute;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: var(--earth-water-color);
top: 110px;
left: 200px;
overflow: hidden;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: rotate(15deg);
z-index: 10;
}
.earth:after {
content: '';
position: absolute;
height: 200px;
width: 200px;
border-radius: 50%;
box-shadow: inset -50px -25px rgba(0, 0, 0, 0.2);
}
.shine {
position: absolute;
background-color: transparent;
width: 100px;
height: 100px;
border: 20px solid #FFF;
border-radius: 50%;
border-top: solid 20px transparent;
border-right: solid 20px transparent;
border-bottom: solid 20px transparent;
transform: rotate(45deg);
opacity: .3;
left: 215px;
top: 130px;
z-index: 12;
}
.shine::after {
content: '';
position: absolute;
height: 20px;
width: 20px;
border-radius: 50%;
background-color: transparent;
box-shadow: 22px -3px 0px #FFF, 21px 82px 0px #FFF;
left: -24px;
}
.land {
position: absolute;
background-color: var(--earth-land-color);
border-radius: 20px;
}
.land-big {
position: absolute;
background-color: var(--earth-land-color);
border-radius: 16px;
}
.land-join {
position: absolute;
background-color: var(--earth-land-color);
height: 10px;
width: 30px;
}
.cloud {
position: absolute;
background-color: var(--earth-cloud-color);
border-radius: 20px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
.land-join::before {
content: '';
position: absolute;
left: -5px;
height: 10px;
width: 10px;
border-radius: 50%;
background: var(--earth-water-color);
box-shadow: 30px 0px 0px var(--earth-water-color);
}
/* Animate the land */
@keyframes earth-rotation-a-start {
0% {
transform: translate(0px);
}
100% {
transform: translate(250px);
}
}
@keyframes earth-rotation-a-loop {
0% {
transform: translate(-200px);
}
100% {
transform: translate(250px);
}
}
@keyframes earth-rotation-ce-start {
0% {
transform: translate(0px);
}
100% {
transform: translate(150px);
}
}
@keyframes earth-rotation-ce-loop {
0% {
transform: translate(-350px);
}
100% {
transform: translate(100px);
}
}
/* Animate the cloud */
@keyframes earth-rotation-cla-start {
0% {
transform: translate(0px);
}
100% {
transform: translate(250px);
}
}
@keyframes earth-rotation-cla-loop {
0% {
transform: translate(-150px);
}
100% {
transform: translate(250px);
}
}
@keyframes earth-rotation-cle-start {
0% {
transform: translate(0px);
}
100% {
transform: translate(100px);
}
}
@keyframes earth-rotation-cle-loop {
0% {
transform: translate(-200px);
}
100% {
transform: translate(150px);
}
}
/*  Big land NA */
.land-big.na {
top: 30px;
left: -30px;
animation-name: earth-rotation-a-start, earth-rotation-a-loop;
animation-duration: 13000ms, var(--earth-rotation);
animation-timing-function: linear;
animation-delay: 0s, 13000ms;
animation-iteration-count: 1, infinite;
}
.land-big.na>.land-join {
top: 25px;
left: 37px;
}
.na>.l-1 {
left: -30px;
height: 25px;
width: 130px;
}
.na>.l-2 {
top: 35px;
height: 35px;
width: 80px;
}
/* Big land SA */
.land-big.sa {
top: 120px;
animation-name: earth-rotation-a-start, earth-rotation-a-loop;
animation-duration: 13000ms, var(--earth-rotation);
animation-timing-function: linear;
animation-delay: 0s, 13000ms;
animation-iteration-count: 1, infinite;
}
.land-big.sa>.land-join {
top: 25px;
left: 20px;
}
.sa>.l-1 {
height: 25px;
width: 80px;
}
.sa>.l-2 {
top: 35px;
height: 20px;
width: 110px;
}
/* Big land A */
.land-big.a {
top: 100px;
left: 109px;
animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
animation-duration: 8000ms, var(--earth-rotation);
animation-timing-function: linear;
animation-delay: 0s, 5200ms;
animation-iteration-count: 1, infinite;
}
.land-big.a>.land-join {
top: 35px;
left: 45px;
}
.a>.l-1 {
height: 35px;
width: 90px;
}
.a>.l-2 {
top: 45px;
left: 35px;
height: 20px;
width: 50px;
}
/* Big land CE */
.land-big.ce {
top: 50px;
left: 100px;
animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
animation-duration: 8000ms, var(--earth-rotation);
animation-timing-function: linear;
animation-delay: 0s, 5200ms;
animation-iteration-count: 1, infinite;
}
.land-big.ce>.land-join {
top: 40px;
left: 135px;
}
.land-big.ce>.land-join.j-2 {
top: -10px;
left: 105px;
}
.ce>.l-1 {
height: 40px;
width: 185px;
}
.ce>.l-2 {
top: 50px;
left: 120px;
height: 30px;
width: 90px;
}
.ce>.l-3 {
top: -30px;
left: 90px;
height: 20px;
width: 80px;
}
/* Set of smaller lands */
.land.ne {
top: 25px;
left: 95px;
height: 15px;
width: 40px;
animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
animation-duration: 8000ms, var(--earth-rotation);
animation-timing-function: linear;
animation-delay: 0s, 5200ms;
animation-iteration-count: 1, infinite;
}
.land.au {
top: 140px;
left: 270px;
height: 30px;
width: 60px;
animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
animation-duration: 8000ms, var(--earth-rotation);
animation-timing-function: linear;
animation-delay: 0s, 5200ms;
animation-iteration-count: 1, infinite;
}
.land.np {
background-color: #d0e2ee;
height: 15px;
width: 80px;
top: -3px;
left: 60px;
}
.land.sp {
background-color: #d0e2ee;
height: 15px;
width: 100px;
top: 190px;
left: 50px;
}
/* Set of cloud */
.cloud.c1,
.cloud.c2,
.cloud.c3,
.cloud.c4 {
height: 13px;
width: 30px;
}
.cloud.c5,
.cloud.c6 {
height: 22px;
width: 63px;
}
.cloud.c7,
.cloud.c8 {
height: 22px;
width: 63px;
}
.cloud.c1 {
top: 35px;
}
.cloud.c2 {
top: 85px;
left: -50px;
}
.cloud.c3 {
top: 100px;
left: 120px;
}
.cloud.c4 {
top: 150px;
left: 160px;
}
.cloud.c5 {
top: 45px;
left: 10px;
}
.cloud.c6 {
top: 115px;
left: -30px;
}
.cloud.c7 {
top: 30px;
left: 120px;
}
.cloud.c8 {
top: 160px;
left: 160px;
}
.cloud.c1,
.cloud.c2 {
animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
animation-duration: 28000ms, var(--cloud-rotation);
animation-timing-function: linear;
animation-delay: 0s, 28000ms;
animation-iteration-count: 1, infinite;
}
.cloud.c3,
.cloud.c4 {
animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
animation-duration: 10000ms, var(--cloud-rotation);
animation-timing-function: linear;
animation-delay: 0s, 10000ms;
animation-iteration-count: 1, infinite;
}
.cloud.c5,
.cloud.c6 {
animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
animation-duration: 20000ms, var(--cloud-rotation);
animation-timing-function: linear;
animation-delay: 0s, 20000ms;
animation-iteration-count: 1, infinite;
}
.cloud.c7,
.cloud.c8 {
animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
animation-duration: 10000ms, var(--cloud-rotation);
animation-timing-function: linear;
animation-delay: 0s, 10000ms;
animation-iteration-count: 1, infinite;
}
/* Moon */
.moon {
position: absolute;
height: 75px;
width: 75px;
border-radius: 50%;
background-color: var(--moon-color);
transform: scaleX(0.33) translateZ(0);
}
.moon:after {
content: '';
position: absolute;
height: 75px;
width: 75px;
border-radius: 50%;
box-shadow: inset -10px -5px rgba(0, 0, 0, 0.2);
}
.crater {
position: absolute;
border-radius: 50%;
background-color: #d6d8b9;
box-shadow: inset 2px 1px rgba(0, 0, 0, 0.2), 1px 0px rgba(196, 207, 207);
}
/*  Set of Craters */
.crater.c1 {
top: 20px;
left: 13px;
height: 15px;
width: 15px;
}
.crater.c2 {
top: 40px;
left: 40px;
height: 20px;
width: 20px;
}
.crater.c3 {
top: 15px;
left: 40px;
height: 10px;
width: 10px;
}
.crater.c4 {
top: 45px;
left: 20px;
height: 8px;
width: 8px;
}
.ellipsis {
width: 150px;
height: 150px;
transform: scaleX(3);
top: 110px;
left: 210px;
position: absolute;
animation: moon-depth 25s infinite linear;
}
.rotate-moon {
width: 100%;
height: 100%;
animation: rotation 25s infinite linear;
transform-origin: 50% 50%;
}
.counter-rotate-moon {
width: 50px;
height: 50px;
animation: counter-rotation 25s infinite linear;
}
@keyframes moon-depth {
0% {
z-index: 9;
}
80% {
z-index: 11;
}
100% {
z-index: 9;
}
}
@keyframes rotation {
0% {
transform: rotateZ(0deg);
}
100% {
transform: rotateZ(360deg);
}
}
@keyframes counter-rotation {
0% {
transform: rotateZ(360deg);
}
100% {
transform: rotateZ(0deg);
}
}